
.mainContainer {
    width: 100%;
    height: 100%;
    background-color: red;
    display: flex;
    justify-content: center;
}

.tableform {
    display: flex;
    flex-direction: row;
    font-size: medium;
}