.mainContainerTableForm {
    width: 100%;
    height: 100%;
    display: flex;
    flex-direction: column;
  }
  
  .tableform {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    gap: 25px;
    font-size: medium;
  
    > * {
      margin-bottom: 10px;
      flex-basis: calc(50% - 20px); 
      max-width: calc(50% - 20px);
      flex-grow: 1;
    }
  }
  
  .mainContainerTableForm > :not(:first-child) {
    align-self: center;
  }
  
  label {
    margin-right: 10px;
  }
  
  input,
  select {
    width: 100%;
  }
  