@import './../../Colors.scss';

.mainContainer {
    width: 100%;
    height: 100%;
    background-color: $white;
    display: flex;
    flex-direction: column;
    overflow-x: hidden;

    & h2 {
        font-size: 150%;
        color: $main-color;
        font-weight: 600;
        margin-left: 2%;
    }

    .tableContainer {
        display: flex;
        justify-content: center;
        overflow-x: hidden;
    }
}
