// archivo-origen.scss
$principal-color: #002333;
$secundary-color: #DEEFE7;

$background-color: #f0f0f0;

$main-color: #809BCE;
$white: #FAFAFA;
$black: #101010;
$button-color:#95B8D1;
$grey: #979dac2a;